apiVersion: v1
kind: Secret
metadata:
  name: filadelfias-secret
  namespace: filadelfias
type: Opaque
stringData:
  SECRET_KEY: "troque-esta-chave"
  RESEND_API_KEY: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: filadelfias
type: Opaque
stringData:
  username: "filadelfias"
  password: "troque-esta-senha"
---
apiVersion: v1
kind: Secret
metadata:
  name: ghcr-secret
  namespace: filadelfias
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "<base64-docker-config>"
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-secret
  namespace: filadelfias
type: Opaque
stringData:
  token: "<TOKEN_DO_TUNNEL>"
