@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-mint-50: #DEEFE7;
  --color-navy-900: #002333;
  --color-teal-500: #159A9C;
}

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-mint-50);
  }
}